.del{
    background-color: red;
    color: black;
    padding: 5px 9px;
    border-radius: 50%;
    float: right;
}

.todo{
    background-color: beige;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
}

.is-complete{
    text-decoration: line-through;
}